.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.justify-between {
  justify-content: space-between;
}

.btn {
  border-radius: 4px;
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
}
.btn:focus {
  outline: none;
}
.bg-white {
  background: #ffffff;
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 0.75rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 1.75rem;
}
.p-6 {
  padding: 2rem;
}
.p-7 {
  padding: 2.5rem;
}
.p-8 {
  padding: 3rem;
}
.p-9 {
  padding: 3.5rem;
}
.p-10 {
  padding: 4rem;
}
.p-11 {
  padding: 5rem;
}
.p-12 {
  padding: 6rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-5 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-6 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-7 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-8 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-9 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.px-10 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.px-11 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.px-12 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.py-6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-7 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-9 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.py-10 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-11 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-12 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 0.75rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 1.75rem;
}
.m-6 {
  margin: 2rem;
}
.m-7 {
  margin: 2.5rem;
}
.m-8 {
  margin: 3rem;
}
.m-9 {
  margin: 3.5rem;
}
.m-10 {
  margin: 4rem;
}
.m-11 {
  margin: 5rem;
}
.m-12 {
  margin: 6rem;
}

.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.mx-2 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.mx-5 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}
.mx-6 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.mx-7 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.mx-8 {
  margin-right: 3rem;
  margin-left: 3rem;
}
.mx-9 {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}
.mx-10 {
  margin-right: 4rem;
  margin-left: 4rem;
}
.mx-11 {
  margin-right: 5rem;
  margin-left: 5rem;
}
.mx-12 {
  margin-right: 6rem;
  margin-left: 6rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-2 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-5 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.my-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-7 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-8 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-9 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.my-10 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-11 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-12 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.mt-1 {
  margin-top: 1rem;
}
